#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

/* 메인 페이지 */
.main-banner-container {
  position: relative;
}

.main-banner-bg {
  height: 675px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.main-banner-content {
  position: absolute;
  top: 35%;
  left: 2%;
  text-align: left;
  z-index: 2;
  opacity: 0;
}

.main-banner-content.move {
  left: 5%;
  opacity: 1;
  transition: all 1s;
}

.main-banner-content h1 {
  font-size: 4em;
  font-weight: bold;
}

.main-banner-content button {
  margin-top: 20px;
  margin-left: 3px;
}

.main-products {
  position: relative;
  height: 100px;
  margin-top: 10px;
}

.main-products span {
  position: absolute;
  top: 30%;
  left: 6%;
  font-size: 1.6em;
  font-weight: 600;
}

.sort-button-div {
    position: absolute;
    top: 40%;
    left: 90%;
}

.main-card {
  margin-bottom: 70px;
}

/* 디테일 페이지 */
.detail-img {
  margin-top: 30px;
  height: 600px;
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: all 0.5s;
}


/* 위시리스트 페이지 */
.wishlist-card {
  margin-top: 30px;
}

/* 로그인, 회원가입 페이지 */
.login-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.signup-link {
  color: black;
  cursor: pointer;
}

.signup-link:hover{
  text-decoration: underline;
}
